version: '3.8'

services:
  sora-solver:
    image: ghcr.io/genz27/sorasolver:latest
    container_name: sora-solver
    ports:
      - "8000:8000"
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
    shm_size: '2gb'
    restart: unless-stopped
